body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    margin:0;
}

.container{
    width:90%;
    margin:20px auto;
    background:white;
    padding:20px;
    border-radius:10px;
}

h2{
    text-align:center;
}

form{
    display:grid;
    gap:10px;
}

input,
select,
textarea{
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    background:#28a745;
    color:white;
    border:none;
    padding:12px;
    cursor:pointer;
}

button:hover{
    background:#218838;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

table th,
table td{
    border:1px solid #ddd;
    padding:10px;
    text-align:center;
}

table th{
    background:#28a745;
    color:white;
}